@font-face {
    font-family: "Kanit";
    src: url("../fonts/kanit.ttf");
}

.carousel-container {
    background-color: #000;
    border: 2px double #c1c2c3;
    max-height: 500px;
}

.carousel-item {
    background-color: rgb(0, 0, 0);
    width: 1000px;
    height: 480px;
}

.carousel-img {
    border: 2px solid #2a2828;
}

.carousel-box {
    opacity: 0.75;
    background-color: #000;
}

.carousel-h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.carousel-p {
    font-family: "Kanit",cursive;
    font-size: 15px;
}

.carousel-indicators button {
    border-radius: 50%;  
}

/* Responsive Design */

@media screen and (max-width: 670px) {
    .carousel-container {
        height: 400px;
    }

    .carousel-item {
        height: 350px;
    }

    .carousel-h3 {
        font-size: 20px;
    }
    .carousel-p {
        font-size: 10px;
    }
}