@font-face {
    font-family: "Kanit";
    src: url("../fonts/kanit.ttf");
}

.divisor {
    background-color: #000;
    height: 100px;
    border-top: 5px double #f2f7fc;
    border-bottom: 5px double #f2f7fc;
}

.divisor-h1 {
    font-size: 50px;
    font-family: "Kanit", sans-serif;
    color: rgb(11, 71, 191);
}

@media screen and (max-width: 1020px) {
    .divisor-h1 {
        font-size: 25px;
    }
}